
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

section{
    padding: 60px 0;
    overflow: hidden;
}

.section_bg{
    background-color: #f6f6f7;
}
.section_title{
    padding-bottom: 30px;
}

.section_title p{
    padding-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}
.section_title h2{
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section_title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #009970;
    bottom: 0;
    left: 0;
}

/** Banner section css **/

#hero{
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/korea.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero .container{
    padding-top: 80px;
}

#hero h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: 'Bungee Outline', cursive;
    color: #fff;
    margin: 0 0 10px o;
}

#hero h2{
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;

}

#hero .btn_get_started{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: 0.5s all;
}
#hero .btn_get_started:hover{
    background-color: #34ac40;
    border: 2px solid #34ac40;
}
/** Banner section css end **/

/** Nav section css **/

#navigation{
    top: 20px;
    padding: 0;
    transition: 0.5s all;
}

#navigation.nav-scroll{
    background-color: #eee;
    top: 0;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

#navigation .logo .navbar-logo{
    height: 50px;
    width: 150px;
}


#navigation .logo{
    padding: 2px 20px;
    background-color: #34ac40;
}

#navigation .logo a{
    font-size: 30px;
    padding: 0;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bungee Outline', cursive;
}


#navigation .logo .rectangle {
    height: 7px;
    width: 70px;
    background: linear-gradient(to right, #ffff  0%, #00000000 100%);

}


#navigation #navbarNav{
   background-color: #eee; 
}

#navigation #navbarNav a{
    display: block;
    position: relative;
    color: #36343a;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all;
}

#navigation #navbarNav a:hover{
    color: #34ac40;
    text-decoration: none;
}
#navigation #navbarNav .nav-link.active{
    color: #34ac40;
}



/** nav section css end **/

/**add section**/

.add{
    background-color: #f6f6f7;
    text-align: center;
    padding: 5px 0;
}
.add img{
    width: 40%;
    filter: grayscale(100%);
    display: inline-block;
    padding: 15px 0;
    margin: 0 auto;
    transition: 0.4s ease-in-out;
}
.add img:hover{
   filter: none;
   transform: scale(1.1);
}


/**add section end**/


.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

  

/**Main section**/

.about .content h2{
    font-weight: 700;
    font-size: 26px;
    line-height: 60px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.about .content h3{
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.about .content ul{
    list-style-type: none;
    padding: 0;
}
.about .content ul li{
    padding: 10px 0 0 20px;
    display: flex;
}

.about .content ul li p{
    margin-bottom: 0;

}

.about .content ul li i{
    font-size: 20px;
    color: #009970;
    margin-right: 7px;
}

/**Main section end**/


/**Social section **/


.social .content{
    margin-top: 24px;
}

.social .content h2{
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.social .content h3{
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.social .content ul{
    list-style-type: none;
    padding: 0;
}
.social .content ul li{
    padding: 10px 0 0 20px;
    display: flex;
}

.social .content ul li p{
    margin-bottom: 0;

}

.social .content ul li i{
    font-size: 20px;
    color: #009970;
    margin-right: 7px;
}

/**SOcial section end**/

/**Lineage section**/


/**Lineage section**/


/**contact section**/

.contact .info{
    padding: 30px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    display: flex;
}

.contact .info_inner{
    padding: 15px;
}

.contact .info i{
    font-size: 20px;
    color: #fff;
    width: 40px;
    height: 40px;
    align-items: center;
    background-color: #009970;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;

}

.contact .info i:hover{
    background-color: #34ac40;
}

.contact .info_inner h4{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #36343a;
}

.contact .info_inner p{
    font-size: 14px;
    margin-bottom: 0;
    color: #686470;
    font-family: 'Open Sans', sans-serif;
}

.contact .email_form{
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);

}

.contact .email_form input{
    height: 44px;
}

.contact .email_form input,.contact .email_form textarea{
    border-radius: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

.contact .email_form button{
    border: none;
    background-color: #009970;
    padding: 10px 30px;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    font-family: 'Open Sans', sans-serif;
}

.contact .email_form button:hover{
    background-color: #34ac40;
}

/**contact section end**/

/**Footer section **/

#footer{
    background-color: #f1f0f2;
    font-size: 14px;
    color: #444444;
}

#footer .footer_top{
    padding: 40px 0 20px 0;
    background-color: #f9f8f9;
}

#footer .footer_contact,
#footer .footer_links{
    margin-bottom: 30px;

}

#footer .footer_top .footer_contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Raleway' sans-serif;
    color: #777777;
}

#footer .footer_top h4{
    font-size: 16px;
    font-weight: 700;
    color: #444444;
    padding-bottom: 12px;
}

#footer .footer_top .footer_links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer_top .footer_links ul li{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

#footer .footer_top .footer_links ul li:first-child{
    padding-top: 0;
}

#footer .footer_top .footer_links ul i{
    padding-right: 6px;
    color: #00c28e;
    font-size: 10px;
}

#footer .footer_top .footer_links ul a{
    color: #777777;
    font-family: 'Open Sans',sans-serif;
    display: inline-block;
    line-height: 1;
    transition: 0.3s ease-in-out;
}
#footer .footer_top .footer_links ul a:hover{
    color: #34ac40;
}

#footer .copyright{
    font-family: 'Open Sans', sans-serif;
}

#footer .credits{
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    font-size: 15px;
    color: #444444;
}

#footer .credits a{
    color: #00c28e;
}

#footer .social{
    display: flex;
    align-self: center;
    justify-content: center;
}


.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #808B96;

    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #808B96;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-whatsapp {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #808B96;

    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-whatsapp:hover {
    background-color: #00c28e;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #808B96;

    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-youtube:hover {
    background-color: #e64a41;
}




#footer .social a i{
    color: #fff;
    font-size: 16px;
}

#footer .footer_contact h3 {
    font-size: 20px;
    padding: 0;
    color: #2d5ece;
    font-family: 'Raleway' sans-serif;
}

#footer .footer_contact p {
    font-size: 16px;
    padding: 0;
    color: #00c28e;
    font-family: 'Raleway' sans-serif;
}
.first-letter {
    font-size: 30px;
    color: #2d5ece;
    text-transform: uppercase;
    font-family: 'Bungee Outline', cursive;
}
/**Footer section end**/

/**Back to top section **/

.back_to_top{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    background-color: #009970;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.4s all;
}
.back_to_top i{
    color: #eee;
    font-size: 18px;
}

.back_to_top:hover{
    background-color: #00c28e;
}

.back_to_top.show_btn{
    opacity: 1;
    visibility: visible;
}



table{
    border: .5px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-left: 20px;
    margin-right: 30px;
   
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: .3px solid black;
    border-collapse: collapse;
  }

  .grammer ul h3 {
      color: #2d5ece;
      font-size: 24px;
      font-weight: 400;
      height: 30px;
  }
  .grammer ul h4 {
    color: #3d5b99;
    font-size: 20px;
    font-weight: 300;
    height: 20px;
}

.indent {
    text-indent: 30px;
}
   

/**Back to top section end**/

/**Responsive css**/

@media only screen and (max-width: 991px){
    #navigation{
        background-color: #34ac40;
        top: 0;
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    }
    #navigation .dropdown-menu{
        background-color: #34ac40;
        top: 0;
        box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    }

    #navigation #navbarNav{
        background-color: #34ac40;
    }

    #navigation #navbarNav .navbar-nav{
        padding-bottom: 15px;
    }

    #navigation .logo{
        padding: 5px 5px 0;
    }

    #navigation .logo .navbar-logo{
        height: 50px;
        width: 150px;
    }

    #navigation .container{
        padding-right: 15px;
        padding-left: 15px;
    }

    #navigation #navbarNav a{
        color: #eee;
        text-align: center;
    }

    #navigation #navbarNav a:hover{
        color: rgb(37, 35, 37);
        background-color: transparent;
    }

    #navigation.nav-scroll{
        background-color: #34ac40;
    }

    #navigation  .navbar-toggler span{
        color: #eee;
        font-size: 21px;
    }
    #navigation  .navbar-toggler:focus{
        outline: none;

    }
    #hero h1{
        font-size: 32px;
        line-height: 36px;
    }

    #navigation #navbarNav .nav-link.active{
        color: #212121;
    }

    .about .content h2{
        font-weight: 500;
        font-size: 32px;
        line-height:40px;
        margin-bottom:15px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
    }

    table{
        border: .5px solid black;
        border-collapse: collapse;
        width: auto;
        margin-left: 10px;
        margin-right: 15px;
       
      }
      
      th, td {
        padding: 5px;
        font-size: small;
        text-align: center;
        border: .3px solid black;
        border-collapse: collapse;
      }
    
      .grammer ul h3 {
          color: #2d5ece;
          font-size: 20px;
          font-weight: 300;
          height: 20px;
      }
      .grammer ul h4 {
        color: #3d5b99;
        font-size: 15px;
        font-weight: 300;
        height: 15px;
    }
}
